/* PEOPLE - .field-node--field-pic is for regular view, PUBLICATIONS, PROJECTS
==========================*/
.view-person-list, .view-list-of-publications, .view-list-of-projects, .view-list-of-news {padding: 0 1rem;}
.view-person-list .pic {margin-bottom: 1rem;}
.pic {float: right; width: 120px; margin-left: 20px;}
.field--name-field-pic {float: right; width: 200px; margin-left: 20px;}
.person {margin-bottom: 10px; clear: both; border-top: 1px solid #eee; }
.person .views-field-title a {font-weight: 800;}
.pic-sm {float:left; width: 60px; margin-right: 10px;}
.field-name-field-link-to-webpage .field__item::before, .field-name-field-staff-type .field__item span::before, .field-node--field-external-url .field__item::before
{
clear: left;
}
.staff-type {
  clear: both;
  span {font-size: 10px; padding-right: 2px;}
}
.view-list-of-projects .views-row, .view-list-of-publications .views-row {padding-left: 1rem;}