/*link to more*/
.field--name-field-link-to-more a::before {
  content: '';
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 5px 0px 5px 5px;
  border-color: transparent transparent transparent #333333;
  display: inline-block;
  vertical-align: middle;
  margin-right: 5px;
}

/*text image right*/
.paragraph--type--text-image-right {
  .field--name-field-image-right{
      float:right;
      }
  .field--name-field-image-right img {
    margin-left: 20px;
    max-width: 350px;
  }
}

/*stories*/
.field--name-field-story-row {
  margin-top: 15px;
  text-align: center;
  .row {
    clear: left;
    display: inline-block;
  }
  .col {
    width: 300px;
    margin-right: 5px;
    height: 122px;
    float: left;
  }
  .story-title {font-size: 14px; text-transform:uppercase; margin-bottom: 10px; margin-top: 5px; text-align: left;}
  .story-title a {color: #333;}
  .story-title a:hover {color: $red;}
  .field--name-field-story-subtitle {text-align: left; font-size: 12px;}
  .storyimage-area {float: left; width: 110px; text-align: left;}
  .paragraph--type--story-box {border: 1px solid #eee;  font-size: 14px;height: 122px; }
}

//*CARDS  - if this gets used*/
.card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 300px;
  border: 1px solid gray;
  min-height: 250px;
  padding: 10px;
  margin: 10px;
  border-radius: 5px 5px 0 0;
  /* On mouse-over, add a deeper shadow */
  img:hover {
    opacity: 0.8;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);}
  h3 {margin-bottom: 0;}
  h3 a {color: #333;}

   .field-paragraph--field-tease .field__items {justify-content: flex-start;}

  .field-paragraph--field-card-title, .field-paragraph--field-tease {padding-left: 10px; }
  @media all and (max-width: 1325px) and (min-width: 1000px) {
    margin: 10px 80px;
  }
}
/*
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}*/

.cards .paracard__items {
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}




